<div class="container">
  <p class="lead">User 1</p>
    <div class="row" style="text-align: left">
      <div class="col md-8">
        <div class="form-group">
          <input type="text" [name]="message" [(ngModel)]="message" class="form-control-lg" required>
        </div>
      </div>
      <div class="col md-4">
        <button href="#" class="btn btn-primary btn-lg" (click)="sendMessage(frm)">
            <span class="glyphicon glyphicon-asterisk"></span> Send
          </button>
      </div>
    </div>
</div>
<div class="container" *ngIf="true">
  <ul class="list-group" style="text-align: left">
    <li class="list-group-item border-top-0" *ngFor="let message of messageList">
      <div style="text-align: right" *ngIf="message.from == 'user1'">
        <p style="color:blue">
          {{message.data}}
          <code>{{message.date}}</code>
        </p>
      </div>
      <p *ngIf="message.from == 'user2'" style="color:orange">
        {{message.data}}
        <code>{{message.date}}</code>
      </p>
    </li>
  </ul>
</div>
